<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 命名空间为MapperScan注解指定的扫描路径 + 接口名 -->
<mapper namespace="com.eugene.sumarry.permission.dao.RoleDao">

    <resultMap id="roleMap" type="Role">
        <id column="role_id" property="roleId" />
        <result column="role_name" property="roleName" />
    </resultMap>

    <sql id="fields">
        role_id, role_name
    </sql>

    <insert id="insert" parameterType="Role" useGeneratedKeys="true" keyProperty="roleId">
        INSERT INTO
            role
            (
              role_name
            )
        VALUES
            (
              #{roleName}
            )
    </insert>

    <insert id="batchInsert" parameterType="list" useGeneratedKeys="true" keyProperty="roleId">
        INSERT INTO
            role
            (
                role_name
            )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.roleName}
            )
        </foreach>
    </insert>

    <select id="getByName" parameterType="string" resultMap="roleMap">
        SELECT
            <include refid="fields"/>
        FROM
            role
        WHERE role_name = #{roleName}

    </select>

    <select id="getById" parameterType="long" resultMap="roleMap">
        SELECT
            <include refid="fields"/>
        FROM
            role
        WHERE role_id = #{roleId}
    </select>

</mapper>